---
layout: post
title: Metis Intro Project - MTA Data Analysis
author: Hasan Haq
comments: true
---
<p>
<i>Note: This blog post is specific to a fictional group project we did for
   <a href="http://www.thisismetis.com">Metis.</a>
</i>
</p>

<p>
We kicked off our Metis bootcamp with our initial project that focused on analyzing
<a href="http://web.mta.info/developers/turnstile.html">
MTA turnstile data</a> in order to advise a fictional client on their marketing efforts
for a fundraising event.  The link to the exercise is <a href="/metis/benson_readme">here.</a>
</p>

<p>
The class split into groups of 3, and I was paired with Tiffany Li and Masa Koto.  We had a good
working relationship right off the bat, which made for a pretty efficient use of time
throughout the project.
</p>

<p>
While I had prior experience downloading and parsing data with Python, Masa volunteered to
do that part of the job because he wanted to learn how.  I decided to focus on visualizations
which was an area I was not as familiar with.  This concept of doing things <i>"the hard way"</i> set
the tone for our approach to the project.
</p>

<p>
Masa and I were plowing through the 2016 turnstile data, as we felt that would be the
best proxy for drawing conclusions on 2017 turnstile traffic. Tiffany focused on researching
other data sources which we would use to figure out
target demographics which we can use to narrow down the MTA turnstile data.  She
came across <a href="http://www.builtinnyc.com/2016/08/09/nyc-fundings-zipcode-2016">a
useful website</a> with a simple list of top 10 zip codes by Venture Capital funding.
This became the heart of our project, and it is reflected in our problem statement below.
</p>

<p class="indented"><i>
Our client, WomenTechWomenYes (WTWS), is having their annual gala event in early July 2017
to raise funds and increase awareness for women in technology.  They have hired our team to
analyze MTA turnstile data to determine the optimal subway stations for their marketing efforts.
As part of our fee package, if we help them beat their 2016 fundraising results, everyone on our
team gets a Hyundai Elantra.  We need this.  We will evaluate data three months prior to the event
(April 1 to May 30th) from 2016 in order to determine which date and time is likely to have the
highest foot traffic.  In addition, we believe the areas which contain recently funded tech
companies would be a good proxy for the demographic which is most likely to donate heavily to
the cause.  We have a list of the top NYC zip codes by venture capital funding, and to the
extent these overlap with the high-traffic train stations, these will be our highest recommended locations.
</i></p>

<p>
We did all the coding in <b><u><a href="http://www.jupyter.org">Jupyter Notebook</b></u></a>,
and while parsing the data into <b><u><a href="http://pandas.pydata.org">Pandas DataFrames</b></u></a>,
one of the first issues we ran into was a discrepancy in the turnstile data.  It seemed there
were situations where the turnstile's longstanding "cumulative count" of entries/exits would reset to a
different base number in the middle of the day.</p>

<p>Ultimately, we handled the outlier problem by identifying them as being much larger or smaller than
the median, and then replacing those values with the median of the group we were looking at.</p>

{% highlight python %}
def replace(group):
    median = group.median()
    outliers = (group - median).abs() > 10*median
    group[outliers] = int(median)
    return group
{% endhighlight %}

<p>Once we had all the turnstile data neatly parsed into a DataFrame, the next step
was to create visualizations to draw conclusions from the data.</p>

<p>For me, the biggest stumbling block in the visualization process was trying
to create a time series plot from <b><u><a href="http://seaborn.pydata.org">Seaborn.</a></u></b>
I really wanted to create a time series plot for our turnstile data like the beautiful
graph below.  But my misunderstanding was that this is for a continuous dataset, while
our data was discrete.</p>

<img src="http://seaborn.pydata.org/_images/timeseries_from_dataframe.png">

<p>Ultimately, I created three plots which taught us some things about the data.  For example,
one chart made it clear that June was the month we should focus on, and then the chart below
showed us that Wednesdays are probably the best day for our client to do their marketing.</p>

<img src="/images/benson/benson_barchart.png">

<p>In addition to these charts, Tiffany used <a href="http://www.tableau.com"><b><u>Tableau</u></b></a>
to generate some pretty cool maps of the zip codes we focused on and the locations of the subway stations
in those zip codes.</p>

<p>Tomorrow is the big day as we will present these findings to our client.  We are determined
to nail this presentation and win that shiny new Hyundai!</p>

<img src="http://cloudlakes.com/data_images/gallery/hyundai-elantra/hyundai-elantra-07.jpg", height=80%, width=80%>
<br><br>
{% if page.comments %}
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = 'https://www.hasanhaq.com/benson/index.html';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = '/benson/'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//http-www-hasanhaq-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endif %}
