---
layout: post
title: Online Card Detection with OpenCV
author: Hasan Haq
comments: true
---
<p>
As part of our Metis curriculum, we have to conduct three "investigations" into
areas of data science.  This involves picking a topic and doing a brief presentation
on the subject.  I heard about <a href="https://en.wikipedia.org/wiki/OpenCV">OpenCV</a>
a while back and thought I would dip my toes in the Python version of the application.
</p>

<center><a href="http://www.opencv.org"><img src="/images/opencv/opencv.png"></a></center>

<p>
Naturally, the first thing that came to my head was to use this for something
poker related.  Wouldn't it be cool if you could make a program that could read
the cards on an online poker table and detect the values of your cards?  So
if you are holding the Ace of diamonds and Ace of hearts, the program would
read your hand and output "Ad, Ah."  This ability would be extremely useful in
conjunction with poker database software, poker AI, and game theory solvers.
</p>

{% highlight python %}
def imgdiff(img1, img2):
    img1 = cv2.GaussianBlur(img1, (5, 5), 0)
    img2 = cv2.GaussianBlur(img2, (5, 5), 0)
    diff = cv2.absdiff(img1, img2)
    diff = cv2.GaussianBlur(diff, (5, 5), 5)
    flag, diff = cv2.threshold(diff, 200, 255, cv2.THRESH_BINARY)
{% endhighlight %}

<p>
I found <a href="http://arnab.org/blog/so-i-suck-24-automating-card-games-using-opencv-and-python">
a great blog post</a> by Arnab Nandi that gave me a great starting point for how to go about using
OpenCV to do something like this.  First, I learned how to get OpenCV to find
an "edge" and grab each card in an image, and then transform it to be the same
size and reduce the noise for comparison purposes.  Then, I had to train pictures
of all 52 cards and associate them with their text description ("Ah", "Ad", etc).
Finally, the blog author suggested a very simple comparison method using OpenCV's
"imgdiff()" function to find the difference of the <a href="http://homepages.inf.ed.ac.uk/rbf/HIPR2/value.htm">
pixel values</a> of the greyscale images.

<center><img src="/images/opencv/imgdiff.png"></center>

<p>
By comparing our "test" image (i.e. the cards we grab from the online poker site)
to each of the 52 cards in the training set, theoretically the one with the lowest
"imgdiff" would be the match.  But ultimately, this method wasn't too successful
for me.  The reason is that my sample images were all screen shots from Pokerstars.
Because these screenshots were not always the exact same size, the difference in
scale made it difficult to calculate a true "difference" between two images.
</p>

<center><img src="/images/opencv/orb1.png", width=75%></center>

<p>
Arnab's blog suggested that were better OpenCV algorithms for feature
detection called <a href="https://en.wikipedia.org/wiki/Speeded_up_robust_features">SIFT and SURF.</a>
For a number of reasons, I ended up going with a very similar algorithm called
<a href="http://docs.opencv.org/3.0-beta/doc/py_tutorials/py_feature2d/py_orb/py_orb.html">ORB</a>.
I guess SIFT and SURF are patented algorithms and technically you are supposed to
pay for them.  Not sure how that works since OpenCV stands for <b><font color='red'>Open</font></b>
Source <b><font color='red'>C</font></b>omputer <b><font color='red'>V</font></b>ision,
but that's besides the point.  In a nutshell, these feature detection algorithms
first compute <b>keypoints</b> in each image, which are basically parts of the
object that are "interesting" (edges, points, shapes, etc).  Then, it looks for
a "match" of a similar keypoint in the image to which it is being compared.  The
picture above is from <a href="http://study.marearts.com/2014/07/opencv-study-orb-gpu-feature-extraction.html">this
blog</a>, and it is a good example of the ORB algorithm in action.

<p class="left">
<center><img src="/images/opencv/orb2.png", width=20%>
<img src="/images/opencv/orb3.png", width=50%></center>
</p>

After much tweaking, the ORB algorithm worked pretty decently for me.  In the
image on the top left, the <b>Ad</b> is the test set being compared to
<b>2s</b> which is one of the 52 cards in the training set.  While these are
<b>all</b> the matches that ORB computed, when it ultimately comes across the
corresponding <b>Ad</b>, it will have actually found <b><u>much more</u></b>
matches, and so in the end it will ultimately return ('A', 'd') as it did
in the top right image.  Success!

<p>
Well, even though you just saw a successful example, the accuracy of this program
wasn't always so good.  Sometimes it would get the suit right and the rank wrong,
or vice versa.  It also had issues confusing 8's with 3's, among other problems.
A few things can be done to improve the accuracy:
</p>
<ul>
    <li>Use the exact same scale for training and test screenshots</li>
    <li>Train multiple images of varying scales to each of the 52 cards</li>
    <li>Use <a href="http://docs.opencv.org/trunk/d7/d8b/tutorial_py_face_detection.html">
        Haar Cascade Classifiers</a></li>
</ul>

<p>
In time, I will improve on the accuracy of this script and also create an executable
which will take screen shots from a poker client and continually run it through
the script.  From there, it can be run through other tools such as database
software or heads-up displays.

<hr>
Thanks for reading!
<br>Click <a href="https://github.com/hh2010/metis_hasan/tree/master/inv/card_detect/ppt/card_detect.pdf">here</a>
to see the presentation for our Metis class.
<br>Click <a href="https://github.com/hh2010/metis_hasan/blob/master/inv/card_detect/card_detect.ipynb">here</a>
to see the Jupyter notebook.
<br>Please provide any feedback via email (<a href="mailto:hasan.haq@gmail.com">hasan.haq@gmail.com</a>)
or the comments section below.
</p>
<br><br>
{% if page.comments %}
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = 'https://www.hasanhaq.com/opencv/index.html';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = '786'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//http-www-hasanhaq-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endif %}
