---
layout: post
title: Comps Regression Model - Scraping
author: Hasan Haq
comments: true
---
<p>
For our second Metis project, we had two weeks to scrape a website for data,
conduct a linear regression analysis, and present our findings.  We were
suggested to get our data from <a href="http://www.boxofficemojo.com/">Box
Office Mojo</a>, but I thought it would be a good opportunity to start doing
some analysis on financial markets.
</p>

<p>
Naturally, my first instinct was to start predicting stock market results,
start my own hedge fund, and leave Metis early enough to get some of my tuition
refunded.  Reality struck quickly when my instructor (and Google) both confirmed
the challenge of time-series regression, and its shortcomings when applied to
the stock market.
</p>

<p>
Going a different route, I was inspired by the "features of a home vs sales price"
example that is widely used for regression analysis.  Let's apply this to companies
and see if we can some up with a useful linear regression model for company
valuation multiples.  In practice, this would be a new take on the classic "comparable
company analysis" used by investment banking analysts everywhere (and everyday).
</p>

<p>
When I first started Googling, I thought boy this is going to be easy! There's
so many modules out there that scrape for financial data.  So I wrote a couple
lines of code and put the project on the backburner while I focused on my
<a href="/opencv">Card Detection with OpenCV</a> project.
</p>

<p>
By the time I came back around to this project, I wrote a bunch of functions
to scrape for the data I needed... Until I realized I couldn't find debt, EBITDA,
or a bunch of other fundamental financial data.  Indeed, the vast
majority of Python finance scrapers out there were focused on market data as
opposed to fundamental data.
</p>

<p>
For fundamental data, I did find the
<a href="https://github.com/petercerno/good-morning">good-morning</a> Morningstar scraper
which was extremely useful (and an homage to my
<a href="http://www.morningstar.com">former intern days)</a>.
Additionally, I used <a href="http://www.seleniumhq.org/">Selenium</a> to load
<a href="http://finance.yahoo.com">Yahoo Finance</a> pages and grab the data
I needed.  However, when it came time to iterate through every company in the
S&P 500, either the web browser or Selenium itself would hang and freeze.
Ultimately, <a href="https://www.crummy.com/software/BeautifulSoup/">BeautifulSoup</a>
and <a href="http://www.wsj.com">WSJ</a> did the trick.
</p>

<center><img src="/images/comps/comps_scrape_code.png", width=60%></center>

<p>
Whew! Several days and a bunch of code later, we scraped over 30 features for
our target variable (EV/EBITDA).  While many of the variables were typical
financial data you would expect (profit margin, SG&A %, capex %, FCF %), there
were a couple custom features which ended up being relevant to the regression
model.
</p>
<ul>
    <li><b>CEO Quality:</b> Looked up CEO name to see if he or she was included in any
        of a few different lists I found online</li>
    <li><b>Analyst Score:</b> Gave each stock ticker a score based on the net
        number of research analysts that recommeded "Buy" versus "Sell"</li>
</ul>

<hr>
<p>
So that's the scraping part of this project, and I think that's enough for one
blog post.  In the <a href="/comps_reg">next post</a>
we will dive into my first stab at a linear regression analysis.
</p>
<br><br>
{% if page.comments %}
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = 'https://www.hasanhaq.com/comps/index.html';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = '54321'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//http-www-hasanhaq-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endif %}
