---
layout: post
title: Comps Regression Model - Regression
author: Hasan Haq
comments: true
---
<p>
For the most part, conducting linear regression in Python is pretty simple.
But understanding which regression models to use (and why),
interpreting the results, testing the model, and considering how changes to
the data could impact everything... Well, that involved a lot of flipping back
through my Metis lecture notes.
</p>

<center><img src="/images/comps/comps_corr.png", height=60%, width=60%></center>

<p>
The first thing was to take a quick look at the correlation table and get
familiar with how the features interact with our target variable (EBITDA
Multiple).  There were a couple things that stood out:
<ul>
    <li> Our two custom features ('ceo_good' and 'score') had some of the
         strongest correlations in the feature set.  As mentioned in the
         <a href="/comps">previous post</a>, 'ceo_good' represents whether
         the CEO is listed on "top CEO" rankings in articles.  And 'score'
         is the sum of research analyst recommendations (1 = Buy, -1 = Sell).
    <li> The "R&D" number is more correlated to our target than "R&D Dummy."
         This indicates that the actual value of R&D spending matters more than
         merely whether the company spends on R&D or not.  So we would drop the
         "R&D Dummy" variable in our regression.

<br><center><img src="/images/comps/comps_kde.png"></center>

<p>
Next, I built a quick and dirty linear regression with
<a href="http://statsmodels.sourceforge.net/">Statsmodels</a>.  I only dropped
the variables that were used in calculating our target, or the variables that I
knew were highly correlated to each other.  Then, I the dropped variables that had
high p-values associated with the coefficients.  Finally, I did a log-transformation
of the y-variable, since the distribution was skewed right as indicated by the
<a href="http://www.mvstat.net/tduong/research/seminars/seminar-2001-05/">KDE plot</a>
above.

<p class="left"><center>
<img src="/images/comps/comps_stats.png", width=48%>
<img src="/images/comps/comps_resid.png", width=48%>
</center></p>

<p>
The result was an adjusted-R^2 of .608 and the residuals were
<a href="http://www.statisticssolutions.com/homoscedasticity/">homoscedastic</a>,
so the model showed potential.  The average
<a href="https://www.cs.cmu.edu/~schneide/tut5/node42.html">cross validation
score</a> (<a href="http://www.statisticshowto.com/mean-squared-error/">mean
error</a>) came out to <b>0.16</b> for k=10 folds, which is not bad for our
log-Y which ranges from -1.28 to 4.10.
</p>

<p class="left"><center>
<img src="/images/comps/lasso.jpg", width=25%>
<img src="/images/comps/lasso_code.png", width=60%>
</center></p>

<p>
The <a href="https://www.coursera.org/learn/machine-learning-data-analysis/lecture/0KIy7/what-is-lasso-regression">Lasso regression</a>
is pretty easy to do with <a href="http://scikit-learn.org/stable/">sklearn</a>,
in fact the <a href="http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LassoCV.html">
LassoCV</a> function quickly gave us the optimal Lasso regression model for our data.
Turns out, we may have been overfitting our data with our manual LinearRegression model.
Lasso dropped 9 more features than we did manually, which is great because it
simplified the usage of our model.  However, the R^2 dropped significantly to <b>.48</b>
and this time log-transforming the Y actually hurt us a little.
</p>

<p>
Overall, this was a great exercise in understanding how to conduct linear regression
using Python.  While the R^2 values aren't very suggestive of predictive power at
this point, there are some things we can do to potentially improve our model:
<ul>
    <li>Add more observations (Russell 1000 dataset)</li>
    <li>Do more scrubbing of outliers</li>
    <li>Normalize the data from a financial standpoint</li>
    <li>Focus on one industry (Energy, Tech, etc)</li>
    <li>Do a PolynomialFeatures() analysis in sklearn and reduce complexity from there</li>
    <li>Try other feature selection methods such as Ridge or Elastic Net</li>
</ul>
</p>
<hr>
If you read through this point, thanks for your time!
<br>If you have any feedback, please contact me at <a href="mailto:hasan.haq@gmail.com">hasan.haq@gmail.com</a>
<br>...or in the comments section below.
<br>You can find a copy of my Metis presentation <a href="https://github.com/hh2010/metis_hasan/blob/master/projects/02-comps/ppt/luther.pdf">here</a>
<br>...and my Jupyter notebook for this project is saved <a href="https://github.com/hh2010/metis_hasan/blob/master/projects/02-comps/luther_hh.ipynb">here</a>.
</p>
<br><br>
{% if page.comments %}
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = 'https://www.hasanhaq.com/comps_reg/index.html';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = '12345'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//http-www-hasanhaq-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endif %}
